name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  Test:
    name: Run test codes
    if: |
      github.event.pull_request.draft == false
      && !startsWith(github.head_ref, 'release')
      && !startsWith(github.head_ref, 'doc')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'

      - name: Install dependencies
        run: pnpm install

      - name: Format check
        run: pnpm fmt:check

      - name: Lint check
        run: pnpm lint

      - name: Run Vitest
        if: github.event_name != 'pull_request'
        run: npx vitest --coverage.enabled true
      - name: Run Vitest with coverage
        if: github.event_name == 'pull_request'
        run: npx vitest --coverage.enabled true
      - name: Show coverage
        if: github.event_name == 'pull_request'
        uses: davelosert/vitest-coverage-report-action@v2.9.0

      - name: Build
        env:
          POSTGRES_URL: "postgres://user:password@ep-cool-fire-123456.us-east-1.aws.neon.tech/verceldb?sslmode=require"
        steps:
          - name: Collect Workflow Telemetry
            uses: catchpoint/workflow-telemetry-action@v2
          - name: Build project
            run: pnpm build
